@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Poppins:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@import url('styles/slider.css');
@import url('styles/navbottom.css');
@import url('styles/slick.css');
@import url('styles/winners.css');
@import url('styles/updates.css');
@import url('styles/login.css');
@import url('styles/comic.css');
@import url('styles/chapters.css');
@import url('styles/historic.css');
@import url('styles/library.css');

:root{
    --cor-preto: #000000;
    --cor-cinza: #141414;
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 10px; /* largura da barra de rolagem */
  }
  
  /* Estilizando o botão de rolagem */
  ::-webkit-scrollbar-thumb {
    background-color: #b4b4b4; /* cor do botão de rolagem */
    border-radius: 5px; /* borda arredondada do botão de rolagem */
  }
  
  /* Estilizando a trilha da barra de rolagem */
  ::-webkit-scrollbar-track {
    background-color: var(--cor-cinza); /* cor da trilha da barra de rolagem */
  }

body {
    font-family: "Inter", Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background-color: var(--cor-preto);
    height: 100vh;
}

.sidebar {
    height: 100%;
    width: 215px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--cor-preto);
    padding: 0 20px 20px 25px;
    border-right: solid #252525 1px;
}

.sidebar img {
    width: 10rem;
}

.sidebar input {
    color: #fff;
    border: 1px solid #343434;
    border-radius: 14px;
    padding: 12px 22px;
    background-color: #262626;
    max-width: 190px;
    margin-bottom: 6px;
}

.sidebar .sidebar-links {
    font-size: 16px;
    padding: 16px;
    text-decoration: none;
    color: #999999;
    display: block;
}

.sidebar .sidebar-links:hover {
    transition: 0.3s;
    color: #fff;
}

.sidebar span {
    display: flex;
    align-items: center;
}

.sidebar div span img {
    max-width: 20px;
    max-height: 20px;
}

hr {
    border-color: #383838;
    
}

.navbar {
    padding-top: 20px;
}

.navbar ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}

.navbar ul li {
    display: flex;
    align-items: center;
}

.navbar img{
    max-width: 20px;
    max-height: 20px;
}

.credits p {
    color: #404040;
    font-size: 14px;
}

.credits .github {
    font-size: 14px;
    font-weight: 700;
    padding: 0px;
    color: #505050;
}

.hr-footer {
    display: none;
}

.credits2 {
    display: none;
    padding: 12px;
}

.credits2 p {
    color: #404040;
    font-size: 16px;
}

.credits2 .github {
    font-size: 14px;
    font-weight: 700;
    padding: 0px;
    color: #505050;
}

.github:hover{
    color: #ff0000;
    transition: 0.3s;
}

.content {
    margin-left: 260px; /* ajuste para compensar a largura do menu */
  }

.content-case {
    max-width: 1400px;
    margin: auto;
    padding: 0 1.5rem;
}

.formatlist2 {
    position: absolute;
    background-color: #810909;
    z-index: 2;
    padding: 4px;
    border-radius: 3px;
    margin: 2px;
    font-size: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-weight: 700;
}

.join-discord-mobile {
    display: none;
    text-align: center;
    margin: 16px 0 24px 0;
}

.txt-discord-mobile{
    background-color: var(--cor-cinza);
    font-size: 16px;
    text-decoration: none;
    color: white;
    padding: 16px;
    border-radius: 6px;
    width: 100%;
}

.txt-discord-mobile strong{
    color: red;
    text-transform: uppercase;
}


@media screen and (max-width: 1024px) {
    .sidebar {
        display: none;
        width: 100%;
        height: auto;
        position: relative;
    }

    .content {
        width: 800px;
        margin: 0 auto; /* ajuste para compensar a largura do menu */
    }

    .join-discord-mobile {
        display: flex;
    }

    .hr-footer {
        display: block;
    }

    .credits2{
        display: block;
        padding: 12px 0 100px;
        text-align: center;
    }
}

@media screen and (max-width: 801px){
    .content {
        width: 700px;
    }
}

@media screen and (max-width: 701px){
    .content {
        width: 600px;
    }
}

@media screen and (max-width: 501px){
    .content {
        width: 480px;
    }
}