.updates {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 15px;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}

.updates-grid {
    display: flex;
    gap: 14px;
    background-color: var(--cor-cinza);
    padding: 8px;
    border-radius: 6px;
}

.updates img {
    width: 120px;
    margin: auto;
    height: 100%;
}

.temp-updates{
    display: grid;
}

.name-comic {
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.name-comic:hover {
    color: red;
    transition: 0.3s;
}

.days-flex {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-top: 10px;
    gap: 8px;
    text-align: center;
}

.days-flex a {
    text-decoration: none;
    color: #fff;
}

.days-flex a:hover {
    color: red;
    transition: 0.3s;
}

.days-flex p {
    margin: 6px 0 0 0;
    font-size: 12px;
    text-align: center;
    color: grey;
}

.chapters{
    border: 1px solid rgb(75, 75, 75);
    width: 160px;
    border-radius: 6px;
    padding: 6px;
}

.acess-bibli {
    display: flex;
}

.bibli {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    background-color: var(--cor-cinza);
    padding: 10px 16px;
    margin: 20px auto;
    border-radius: 6px;
}

.bibli:hover{
    color: red;
    transition: 0.3s;
}

@media screen and (max-width: 1640px){
    .updates{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .chapters{
        padding: 1px 0px;
    }
}

@media screen and (max-width: 1260px){
    .updates{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width: 1025px){
    .chapters{
        padding: 4px;
    }
}

@media screen and (max-width: 801px){
    .updates{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .chapters{
        padding: 4px;
    }

}